<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeinth Components</title>
    <link rel="stylesheet" href="animation.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navbar">
      <h1 class="animate-crazyCool">Zeinth Components</h1>
    </div>
    <div class="container">
      <div class="animated-box">
        <h1 class="box" id="mainBox">Zeinth</h1>
      </div>
      <div class="components">
        <a class="abox" id="bounceButton">Bounce</a>
        <a class="abox" id="flashButton">Flash</a>
        <a class="abox" id="pulseButton">Pulse</a>
        <a class="abox" id="rubberBandButton">RubberBand</a>
        <a class="abox" id="shakeXButton">ShakeX</a>
        <a class="abox" id="shakeYButton">ShakeY</a>
        <a class="abox" id="headShakeButton">HeadShake</a>
        <a class="abox" id="swingButton">Swing</a>
        <a class="abox" id="tadaButton">Tada</a>
        <a class="abox" id="wobbleButton">Wobble</a>
        <a class="abox" id="jelloButton">Jello</a>
        <a class="abox" id="heartBeatButton">HeartBeat</a>

        <a class="abox" id="backInDownButton">Back In Down</a>
        <a class="abox" id="backInLeftButton">Back In Left</a>
        <a class="abox" id="backInRightButton">Back In Right</a>
        <a class="abox" id="backInUpButton">Back In Up</a>
        <a class="abox" id="backOutDownButton">Back Out Down</a>
        <a class="abox" id="backOutLeftButton">Back Out Left</a>
        <a class="abox" id="backOutRightButton">Back Out Right</a>
        <a class="abox" id="backOutUpButton">Back Out Up</a>

        <a class="abox" id="bounceInButton">Bounce In</a>
        <a class="abox" id="bounceInDownButton">Bounce In Down</a>
        <a class="abox" id="bounceInLeftButton">Bounce In Left</a>
        <a class="abox" id="bounceInRightButton">Bounce In Right</a>
        <a class="abox" id="bounceInUpButton">Bounce In Up</a>
        <a class="abox" id="bounceOutButton">Bounce Out</a>
        <a class="abox" id="bounceOutDownButton">Bounce Out Down</a>
        <a class="abox" id="bounceOutLeftButton">Bounce Out Left</a>
        <a class="abox" id="bounceOutRightButton">Bounce Out Right</a>
        <a class="abox" id="bounceOutUpButton">Bounce Out Up</a>

        <a class="abox" id="fadeInButton">Fade In</a>
        <a class="abox" id="fadeInDownButton">Fade In Down</a>
        <a class="abox" id="fadeInDownBigButton">Fade In Down Big</a>
        <a class="abox" id="fadeInLeftButton">Fade In Left</a>
        <a class="abox" id="fadeInLeftBigButton">Fade In Left Big</a>
        <a class="abox" id="fadeInRightButton">Fade In Right</a>
        <a class="abox" id="fadeInRightBigButton">Fade In Right Big</a>
        <a class="abox" id="fadeInUpButton">Fade In Up</a>
        <a class="abox" id="fadeInUpBigButton">Fade In Up Big</a>
        <a class="abox" id="fadeInTopLeftButton">Fade In Top Left</a>
        <a class="abox" id="fadeInTopRightButton">Fade In Top Right</a>
        <a class="abox" id="fadeInBottomLeftButton">Fade In Bottom Left</a>
        <a class="abox" id="fadeInBottomRightButton">Fade In Bottom Right</a>

        <a class="abox" id="fadeOutButton">Fade Out</a>
        <a class="abox" id="fadeOutDownButton">Fade Out Down</a>
        <a class="abox" id="fadeOutDownBigButton">Fade Out Down Big</a>
        <a class="abox" id="fadeOutLeftButton">Fade Out Left</a>
        <a class="abox" id="fadeOutLeftBigButton">Fade Out Left Big</a>
        <a class="abox" id="fadeOutRightButton">Fade Out Right</a>
        <a class="abox" id="fadeOutRightBigButton">Fade Out Right Big</a>
        <a class="abox" id="fadeOutUpButton">Fade Out Up</a>
        <a class="abox" id="fadeOutUpBigButton">Fade Out Up Big</a>
        <a class="abox" id="fadeOutTopLeftButton">Fade Out Top Left</a>
        <a class="abox" id="fadeOutTopRightButton">Fade Out Top Right</a>
        <a class="abox" id="fadeOutBottomLeftButton">Fade Out Bottom Left</a>
        <a class="abox" id="fadeOutBottomRightButton">Fade Out Bottom Right</a>

        <a class="abox" id="flipButton">Flip</a>
        <a class="abox" id="flipInXButton">FlipInX</a>
        <a class="abox" id="flipInYButton">FlipInY</a>
        <a class="abox" id="flipOutXButton">FlipOutX</a>
        <a class="abox" id="flipOutYButton">FlipOutY</a>
        <a class="abox" id="lightSpeedInRightButton">LightSpeedInRight</a>
        <a class="abox" id="lightSpeedInLeftButton">LightSpeedInLeft</a>
        <a class="abox" id="lightSpeedOutRightButton">LightSpeedOutRight</a>
        <a class="abox" id="lightSpeedOutLeftButton">LightSpeedOutLeft</a>

        <a class="abox" id="rotateInButton">Rotate In</a>
        <a class="abox" id="rotateInDownLeftButton">Rotate In Down Left</a>
        <a class="abox" id="rotateInDownRightButton">Rotate In Down Right</a>
        <a class="abox" id="rotateInUpLeftButton">Rotate In Up Left</a>
        <a class="abox" id="rotateInUpRightButton">Rotate In Up Right</a>

        <a class="abox" id="rotateOutButton">Rotate Out</a>
        <a class="abox" id="rotateOutDownLeftButton">Rotate Out Down Left</a>
        <a class="abox" id="rotateOutDownRightButton">Rotate Out Down Right</a>
        <a class="abox" id="rotateOutUpLeftButton">Rotate Out Up Left</a>
        <a class="abox" id="rotateOutUpRightButton">Rotate Out Up Right</a>

        <a class="abox" id="hingeButton">Hinge</a>
        <a class="abox" id="jackInTheBoxButton">Jack in the Box</a>
        <a class="abox" id="rollInButton">Roll In</a>
        <a class="abox" id="rollOutButton">Roll Out</a>

        <a class="abox" id="zoomInButton">Zoom In</a>
        <a class="abox" id="zoomInDownButton">Zoom In Down</a>
        <a class="abox" id="zoomInLeftButton">Zoom In Left</a>
        <a class="abox" id="zoomInRightButton">Zoom In Right</a>
        <a class="abox" id="zoomInUpButton">Zoom In Up</a>

        <a class="abox" id="zoomOutButton">Zoom Out</a>
        <a class="abox" id="zoomOutDownButton">Zoom Out Down</a>
        <a class="abox" id="zoomOutLeftButton">Zoom Out Left</a>
        <a class="abox" id="zoomOutRightButton">Zoom Out Right</a>
        <a class="abox" id="zoomOutUpButton">Zoom Out Up</a>

        <a class="abox" id="slideInDownButton">Slide In Down</a>
        <a class="abox" id="slideInLeftButton">Slide In Left</a>
        <a class="abox" id="slideInRightButton">Slide In Right</a>
        <a class="abox" id="slideInUpButton">Slide In Up</a>
        <a class="abox" id="slideOutDownButton">Slide Out Down</a>
        <a class="abox" id="slideOutLeftButton">Slide Out Left</a>
        <a class="abox" id="slideOutRightButton">Slide Out Right</a>
        <a class="abox" id="slideOutUpButton">Slide Out Up</a>
        <a class="abox" id="peekButton">Peek</a>
      </div>
    </div>
    <div class="footer">
      <h1><a href="#">Box Shadows</a></h1>
    </div>

    <script src="./../../app.js"></script>
  </body>
</html>
