<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeinth Components</title>
    <link rel="stylesheet" href="loader.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navbar">
      <h1>Zeinth Components</h1>
    </div>
    <div class="container">
      <div class="animated-box loader">
        
      </div>
      <div class="components">
        <a class="abox" id="classic">Classic</a>
        
      </div>
    </div>
    <div class="footer">
      <h1><a href="#">Box Shadows</a></h1>
    </div>

    <script src="./../../app.js"></script>
  </body>
</html>
